@page
@model MascotaFeliz.App.Frontend.Pages.EditarDuenosModel
@{

}

<body background="https://cdn.pixabay.com/photo/2016/06/24/15/48/pattern-1477380__340.png">
    <div class="container px-4">
        <h2>Agregar o editar Dueños</h2>
        <div class="row gx-5">
            <div class="col">
                <form method="post">
                    <div class="form-group">
                        <input type="hidden" asp-for="dueno.Id" />
                        <label asp-for="dueno.Nombres"></label>
                        <input asp-for="dueno.Nombres" class="form-control">
                        <label asp-for="dueno.Apellidos"></label>
                        <input asp-for="dueno.Apellidos" class="form-control">
                        <label asp-for="dueno.Direccion"></label>
                        <input asp-for="dueno.Direccion" class="form-control">
                        <label asp-for="dueno.Telefono"></label>
                        <input asp-for="dueno.Telefono" class="form-control">
                        <label asp-for="dueno.Correo"></label>
                        <input asp-for="dueno.Correo" class="form-control">

                        <button type="submit" class="btn btn-danger">Grabar</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <img src="https://cdn.pixabay.com/photo/2018/04/23/14/38/dog-3344414__340.jpg">

            </div>
        </div>
    </div>
    <a asp-page="./ListaDuenos" class="btn-default">Lista de Dueños </a>
</body>